.wrapper {
  .home {
    display: flex;
    justify-content: center;
    padding: 80px 160px 30px 160px;
    gap: 15px;
    .searchSort {
      display: flex;
      gap: 35px;
      align-items: center;
    }
    .locDeal {
      display: flex;
      gap: 30px;
    }
  }
}
.product {
  padding: 0 70px 0 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 55px;
}

.paginationContainer {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;

  :global(.ant-pagination .ant-pagination-item-active) {
    border-color: rgb(136, 136, 136);
    color: red;
  }
  :global(.ant-pagination-item-active a) {
    color: rgb(112, 112, 112);
  }

  :global(.ant-pagination .ant-pagination-item-active:hover a) {
    color: rgb(145, 145, 145);
  }
}
.active {
  filter: blur(5px);
}

@media (max-width: 1214px) {
  .home {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .wrapper {
    .home {
      gap: 20px;
      .searchSort {
        gap: 22px;
      }
      .locDeal {
        gap: 22px;
      }
    }
  }
}
@media (max-width: 480px) {
  .wrapper {
    .home {
      gap: 10px;
      .searchSort {
        gap: 15px;
      }
      .locDeal {
        gap: 15px;
      }
    }
  }
}
@media (max-width: 385px) {
  .wrapper {
    .home {
      gap: 10px;
      .searchSort {
        gap: 8px;
      }
      .locDeal {
        gap: 5px;
      }
    }
  }
  .product {
    padding: 0 100px 0 22px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
}

@media (max-width: 329px) {
  .product {
    padding: 0 100px 0 10px;
    grid-column-gap: 15px;
    grid-row-gap: 1px;
  }
}
