@use "sass:math";
@mixin fluid-text($max: 48, $min: 12) {
  font-size: clamp(#{$min}px, #{math.div($max, 1130) * 100}vw, #{$max}px);
}
@mixin fluid-quantity-width($max: 109, $min: 60) {
  width: clamp(#{$min}px, #{$max / 1130 * 100}vw, #{$max}px);
}
@mixin fluid-quantity-height($max: 40, $min: 25) {
  height: clamp(#{$min}px, #{$max / 1130 * 100}vw, #{$max}px);
}

.productWrapper {
  margin-top: 11px;
  margin-bottom: 11px;
  background: rgb(245, 245, 245);
  border-bottom: 1px solid rgb(217, 218, 219);
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
  &:hover {
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);
  }
  .productTop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    .productImage {
      width: 70px;
      height: 70px;
    }
    .productTitle {
      display: flex;
      max-width: 110px;
      color: rgb(75, 81, 87);
      @include fluid-text(14, 8);
      font-weight: 900;
      text-align: left;
    }
  }
  .productPrice {
    color: rgb(75, 81, 87);
    @include fluid-text(14, 8);
    font-weight: 600;
    text-align: right;
  }
  .productQuantity {
    gap: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    img {
      cursor: pointer;
      width: 18px;
      height: 18px;
    }
    display: flex;
  }
  .productTotalPrice {
    color: rgb(75, 81, 87);
    @include fluid-text(14, 8);
    font-weight: 600;
    letter-spacing: 0px;
    text-align: right;
  }
  .productFavorites {
    cursor: pointer;
    display: flex;
    gap: 5px;
    .heartIcon {
      width: 18px;
      height: 18px;
      color: rgb(156, 151, 151);
    }
    .active {
      color: rgba(197, 4, 4, 0.829);
    }
  
  }
}
